{
  "id": "authentication_email",
  "sender": "noreply@sesterzo.eu",
  "subjectTemplate": "Complete your Sesterzo authentication",
  "provider": "SMTP",
  "username": "{{ mail_username }}",
  "password": "{{ mail_password }}",
  "smtpHost": "{{ ip }}",
  "smtpPort": {{ port }}
}